h1 {
  font-family: 'Tangerine', cursive;
  font-size: 60px;
  position: centre;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

span {
  font-family: 'Shadows Into Light', cursive;
  font-size: 28px;
}

body {
  background-image: url("scroll.jpg");
  background-size: cover;
}
